<div class="listing-show" style="margin: 20px; background: white;">
	<a href="/#/restaurants/<%= restaurant.id %>" data-id="<%= restaurant.id %>" style="color: black">
		<div class="row">
			<div class="col-xs-4">
				<img src="/assets/chipotle/burrito.jpg" class="img-rounded" style="width: 150px; height: 150px">
			</div>
			<div class="col-xs-8">
				<div class="row"> <!-- Name of restaurant -->
					<h3><%= restaurant.escape("name") %></h3>
				</div>
				<div class="row"> <!-- Stars + num reviews -->
					<div class="col-xs-3" style="padding: 0">
						 <% if (rating === 1) { %>
						 	<img class="listingrating" src="/assets/1star.png" style="margin: 0px">
						 <% } else if (rating === 1.5) { %>
						 	<img class="listingrating" src="/assets/15stars.png">
						 <% } else if (rating === 2) { %>
						 	<img class="listingrating" src="/assets/2stars.png" >
						 <% } else if (rating === 2.5) { %>
						 	<img class="listingrating" src="/assets/25stars.png">
						 <% } else if (rating === 3) { %>
						 	<img class="listingrating" src="/assets/3stars.png" >
						 <% } else if (rating === 3.5) { %>
						 	<img class="listingrating" src="/assets/35stars.png">
						 <% } else if (rating === 4) { %>
						 	<img class="listingrating" src="/assets/4stars.png" >
						 <% } else if (rating === 4.5) { %>
						 	<img class="listingrating" src="/assets/45stars.png">
						 <% } else if (rating === 5) { %>
						 	<img class="listingrating" src="/assets/5stars.png" >
						 <% } else if (isNaN(rating)) {%>
						 	<h4>No Reviews</h4>
						 <% } %>
					</div>
					<div class="col-xs-4">
						<% if (numReviews > 1) {%>
							<%= numReviews %> Reviews
						<% } else if (numReviews === 1) {%>
							<%= numReviews %> Review
						<% } %>
					</div>
				</div>
				<div class="row" style="margin-top: 10px"> <!-- Address -->
					<div class="col-xs-10" style="padding: 0">
						<%= restaurant.escape("address") %>
					</div>
				</div>
			</div>
		</div>
	</a>
</div>