<!DOCTYPE html>
<html>
<head>
  <title>Nomnom</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	      <a class="navbar-brand" href="#">NomNom</a>
				<% if signed_in? %>
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
								 <div class="nav nav-pills nav-stacked">
									<li><a href="#">Profile</a></li>
			            <li><%= button_to "Sign Out", session_url, :method => :delete %></li>
								</div>
		          </ul>
		        </li>
					</ul>
				</div>
			<% end %>
    </div>
	</div>
</nav>

	    <script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpZfxPwha3LJq-L6QQzQbIMw3bLbwAwnw">
	    </script>

<% if flash[:errors] %>
<div class="alert alert-danger col-md-4 col-md-offset-4" role="alert">
	<%= flash[:errors] %>
</div>
<% end %>

<div class="container-fluid search-content">
		<div class="logo"></div>
		<div class="login">
		</div>
		<%= yield %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="footer">
  <div class="col-xs-8 col-xs-offset-2">
    <div id="foot">
      <div class="row footer-top">
        <div class="col-xs-3 col-xs-offset-1">
          <span id="footer-brand"><span id="huddle">NomNom</span>
        </div>
      <div class="col-xs-3 col-xs-offset-1">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Questions</a></li>

        </ul>
      </div>
      <div class="col-xs-3 col-xs-offset-1">
        <ul>
          <li><a href="#">Press</a></li>
          <li><a href="#">Policies</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Terms &amp; Privacy</a></li>
        </ul>
      </div>
    </div>
        <div class="row">
          <div class="col-xs-12 copyright">
            © 2014 NomNom, Inc. All Rights Reserved
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>

