<!DOCTYPE html>
<html>
<head>
  <title>Nomnom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<h1>Nom Nom Now</h1>
	<% if signed_in? %>
		<h3>Welcome,  <%= current_user.username %></h3>
		<%= button_to "Sign Out", session_url, :method => :delete %>
	<% end %>

	<%= yield %>
</div>

</body>
</html>
